.category-amount {
  white-space: nowrap;
  text-align: right;
}

.category-available > sup {
  margin-left: 0.5ex;
  margin-right: 0.25ex;
}

.category-budgeted {
	font-size: 1.2rem;
	vertical-align: bottom;
}

#category-list td {
  border: none;
  vertical-align: middle;
}

.category-name {
  
}

.category-graph {
}

.category-graph-line {
  border-radius: 4px;
	height: 6px;
	margin: auto 0;
  min-width: 6px;
}
.category-graph-line.danger {
  background-color: red;
}
.category-graph-line.success {
  background-color: green;
}
.category-graph-line.warning {
  background-color: orange;
}

.full-width {
  width: 100%;
}

.width-10 {
  width: 10%;
}

.width-80 {
  width: 80%;
}
