body {
  height: 100%;
  padding-bottom: 100px;
}

#button-row {
  bottom: 10px;
  position: absolute;
  text-align: right;
  width: 100%;
}

#button-expense > .glyphicon,
#button-income > .glyphicon {
  font-size: 5rem;
}

.category-amount {
  white-space: nowrap;
  text-align: right;
}

.category-available.danger {
  color: red;
}
.category-available > sup {
  margin-left: 0.5ex;
  margin-right: 0.25ex;
}

.category-budgeted {
	font-size: 1.2rem;
	vertical-align: bottom;
}

#category-list td {
  border: none;
  vertical-align: middle;
}

.category-name {
  white-space: nowrap;
}

.category-graph {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.category-graph.danger {
  box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.75);
}

.category-graph, .category-graph-line {
  border-radius: 4px;
}

.category-graph-line {
	height: 6px;
	margin: auto 0;
}
.category-graph .danger {
  background-color: red;
}
.category-graph .success {
  background-color: green;
}
.category-graph .warning {
  background-color: orange;
}

.full-width {
  width: 100%;
}

html { height: 100%; }

hr.small { margin: 10px 0; }

.list-inline > li {
  margin: 5px 2px;
  padding: 0;
}

.pad-vertical {
  padding-bottom: 15px;
  padding-top: 15px;
}

#page { height: 100% }

.width-10 {
  width: 10%;
}

.width-80 {
  width: 80%;
}
